---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.jsx';
import Hero from '../components/Hero.jsx';
---

<Layout title="Kike's Portfolio">
	<!-- Header -->
	<Header client:load/>
	<main>
		<section id="hero">
			<Hero client:load/>
		</section>
	</main>
</Layout>
