---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.jsx';
---

<Layout title="Kike's Portfolio">
	<!-- Header -->
	<main>
		<Header client:load/>
	</main>
</Layout>
