---
import react from '@astrojs/react';
import { SocialIcon } from 'react-social-icons';
---

<header class="sticky top-0 p-5 flex items-start justify-between max-w-7xl mx-auto z-20 xl:items-center">
    <div class="flex flex-row items-center">
        <SocialIcon 
            url="https://www.linkedin.com/in/enrique-ferrer-agius-05844a217/"
            fgColor="gray"
            bgColor="transparent"
        />
        <SocialIcon 
            url="https://github.com/panyu1512"
            fgColor="gray"
            bgColor="transparent"
        />
        <SocialIcon 
            url="https://twitter.com/kike20ferrer"
            fgColor="gray"
            bgColor="transparent"
        />
        <SocialIcon 
            url="https://www.instagram.com/kiikeferrer/"
            fgColor="gray"
            bgColor="transparent"
        />
    </div>
    <div class="flex flex-row items-center text-gray-300 cursor-pointer">
        <SocialIcon
            class="cursor-pointer"
            network="email"
            fgColor="gray"
            bgColor="transparent"
        />
        <p class="uppercase hidden md:inline-flex text-sm text-gray-400">
            Get In Touch
        </p>
    </div>
</header>